.headshot {
  display: block;
  margin: 0 auto 1em;
  width: 300px;
  height: auto;
  border-radius: 0;
}
body {
  margin: 4em auto;
  max-width: 40em;
  line-height: 1.6;
  font-family: Georgia, serif;
  color: #333;
  padding: 0 1em;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-bottom: 2em;
}

nav a {
  margin-right: 1em;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
}

.date, p.date {
  color: #999;
  font-size: 0.9em;
}